[submodule "themes/Hacker"]
	path = themes/Hacker
	url = https://github.com/CodeDaraW/Hacker.git
[submodule "themes/apollo"]
	path = themes/apollo
	url = https://github.com/pinggod/hexo-theme-apollo.git
